.eyes{
    width: 176px;
    height: 167px;
    top: 1016px;
    margin-left: 100px;
    gap: 0px;
    opacity: 0px;
    

    .eye_circle{
        width: 63px;
        height: 63px;
        margin-left: 57px;
        gap: 0px;
        opacity: 0px;
        border-radius: 50%;
        background: #08A6E4;
    }

    h3{
        width: 136px;
        height: 24px;
        margin-top: 12px;
        margin-left: 20px;
        gap: 0px;
        opacity: 0px;

        font-family: Raleway;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 5.96px;
        text-align: center;
        

    }

    p{
        width: 176px;
        height: 48px;
        margin-top: 12px;
        gap: 0px;
        opacity: 0px;

        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        color: #A5A5A5;

    }
}