.sales{
    h2{
        width: 303px;
        height: 112px;
        margin-top: 290px;
        margin-left: 36px;
        gap: 0px;
        opacity: 0px;
        
        font-family: Raleway;
        font-size: 30px;
        font-weight: 300;
        line-height: 35px;
        text-align: center;

    }
    
}

