.sales{
    h2{

        margin-top: 10%;
        margin-left: 10%;
        
        font-family: Raleway;
        font-size: 30px;
        font-weight: 300;
        line-height: 35px;
        text-align: center;

    }
    
}

