@import './style/sell';
@import './style/sales';
@import './style/mid';
@import './style/pricing';
@import './style/question';
@import './style/footer';
@import './style/header';
@import './style/icon.scss';
@import './style/pop.scss';


* {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   min-width: 320px;
}


.top{
   position: fixed;
   bottom: 20px;
   right: 10px;
   width: 50px;
   height: 50px;
   background-image: url(./style/top/top.jpg);
   background-size: 70%;
   background-repeat: no-repeat;
   background-position: center;
   background-color: transparent;
   border:none;
   z-index: 5;
}