@use 'sell';
@use 'sales';
@use 'daily';
@use 'eye';
@use 'post';
@use 'mid';

* {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   min-width: 320px;
}

.header{

    
    h1 {
        font-family: Raleway;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.3125rem;
        text-align: left;
        color: #08A6E4;
        margin-top: 1.0625rem;
        margin-left: 1.5625rem;
    }
}

.setup{
    height: 16.6875rem;
    overflow: hidden;
    img{
        height: 16.6875rem;
        align-items: center;
        //left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        //min-width: 100%;
        //min-height: 100%;
        scale: 50%;
    }
}
