.sell {
  margin-top: 5em;
  margin-left: 2.0625em;
  margin-right: 2.0625em;
}
.sell h2 {
  padding-top: 1em;
  margin-bottom: 1.25em;
  font-family: Raleway;
  font-size: 2.1875rem;
  font-weight: 400;
  text-align: center;
  color: black;
}
.sell p {
  margin-left: 0.0975em;
  margin-bottom: 1.875em;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: black;
}
.sell button {
  padding: 0px 90px;
  border-radius: 2.5em;
  background: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border: none;
}
.sell button p {
  margin-top: 1.25em;
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

.setup {
  margin-top: 1.45em;
  overflow: hidden;
}
.setup__movil {
  margin: 0 0 35px 0;
  width: 375px;
  height: 267px;
  object-fit: cover;
}
.setup__laptop {
  display: none;
}

@media screen and (min-width: 1000px) {
  .sell {
    margin-left: 0 auto;
  }
  .sell h2 {
    text-align: center;
    font-family: Raleway;
    font-size: 3.0625em;
    font-weight: 400;
    margin-bottom: 0.7em;
  }
  .sell p {
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .sell__boton {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  .sell__boton button {
    padding: 0 150px;
    margin-left: 0 auto;
  }
  .setup__movil {
    display: none;
  }
  .setup__laptop {
    display: flex;
    margin: 0 0 2.1875rem 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.sales h2 {
  width: 70%;
  margin: 0 auto;
  font-family: Raleway;
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .sales {
    display: flex;
    justify-content: center;
  }
  .sales h2 {
    margin-top: 0%;
    text-align: center;
  }
}
.mid {
  padding-top: 1.875em;
  padding-bottom: 1.875em;
  background-color: #F7F7F7;
  display: block;
}
.mid__first {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  display: block;
}
.mid__first__img {
  padding-top: 0.9375em;
}
.mid__first__img__laptop {
  position: relative;
  margin-left: 3.125em;
  margin-top: 1.75em;
}
.mid__first__img__circle {
  position: absolute;
  margin-left: 9.5625em;
}
.mid__first__img__laptop2 {
  display: none;
}
.mid__first__img__rectangle {
  display: none;
}
.mid__first__text h3 {
  margin-top: 0.625em;
  font-family: Raleway;
  font-size: 1.875rem;
  font-weight: 400;
  text-align: left;
  margin-left: 0.625em;
}
.mid__first__text p {
  margin-top: 1.25em;
  font-family: Open Sans;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  margin-left: 0.625em;
  padding-bottom: 0.9375em;
}
.mid__first__text hr {
  display: none;
}
.mid__shop {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.875em;
  display: block;
}
.mid__shop__img {
  padding-top: 0.9375em;
}
.mid__shop__img__phone {
  position: relative;
  margin-left: 5.625em;
  margin-top: 0.625em;
}
.mid__shop__img__circleblue {
  position: absolute;
  margin-left: 5em;
}
.mid__shop__img__phone2 {
  display: none;
}
.mid__shop__img__circleblue2 {
  display: none;
}
.mid__shop__text h3 {
  margin-top: 0.625em;
  font-family: Raleway;
  font-size: 1.875rem;
  font-weight: 400;
  text-align: left;
  margin-left: 0.5375em;
}
.mid__shop__text p {
  margin-top: 0.625em;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  margin-left: 0.9375em;
  padding-bottom: 0.9375em;
}
.mid__shop__text hr {
  display: none;
}
.mid__brand__text {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.875em;
  display: block;
}
.mid__brand__text h3 {
  font-family: Raleway;
  font-size: 1.875rem;
  font-weight: 400;
  text-align: left;
  margin-left: 0.5375em;
  padding-top: 0.9375em;
}
.mid__brand__text p {
  margin-top: 1.5625em;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
  margin-left: 0.9375em;
  padding-bottom: 0.625em;
}
.mid__brand__text hr {
  display: none;
}
.mid__brand__trump {
  background-color: #55DFB4;
  width: 314px;
  height: 195px;
  width: 80%;
  margin: 0 auto;
  border-radius: 0.3125em;
}
.mid__brand__trump__trumpet {
  padding-top: 1.25rem;
}

@media (min-width: 1000px) {
  .mid__first {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .mid__first__img {
    margin-top: 2em;
    align-items: center;
    order: 2;
    transform: translate();
  }
  .mid__first__img__circle {
    display: none;
  }
  .mid__first__img__laptop {
    display: none;
  }
  .mid__first__img__laptop2 {
    position: relative;
    display: flex;
  }
  .mid__first__img__rectangle {
    display: flex;
    position: absolute;
    transform: translate(90%, -22%);
  }
  .mid__first__text {
    width: 45%;
  }
  .mid__first__text h3 {
    order: 1;
    padding-top: 2.425em;
    margin-left: 10px;
  }
  .mid__first__text p {
    order: 1;
    width: 75%;
  }
  .mid__first__text hr {
    margin-top: 0.9375em;
    width: 58%;
    display: flex;
    margin-left: 0.625em;
    margin-bottom: 5em;
    border: 2px solid red;
  }
  .mid__shop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
  }
  .mid__shop__img {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 45%;
  }
  .mid__shop__img__circleblue {
    display: none;
  }
  .mid__shop__img__phone {
    display: none;
  }
  .mid__shop__img__circleblue2 {
    display: flex;
    position: absolute;
  }
  .mid__shop__img__phone2 {
    display: flex;
    position: relative;
    padding-bottom: 1.25em;
    transform: translate(0%, 5%);
  }
  .mid__shop__text {
    width: 43%;
  }
  .mid__shop__text h3 {
    text-align: left;
    width: 50%;
  }
  .mid__shop__text p {
    width: 80%;
    margin-top: 1.25em;
  }
  .mid__shop__text hr {
    display: flex;
    width: 60%;
    margin-left: 0.625em;
    margin-top: 1em;
    border: 2px solid #08A6E4;
  }
  .mid__brand {
    margin: 0 2.6875em;
    display: flex;
    flex-flow: row wrap;
  }
  .mid__brand__text {
    width: 40%;
  }
  .mid__brand__text h3 {
    margin-top: 1.25em;
    width: 60%;
  }
  .mid__brand__text p {
    width: 70%;
    margin-bottom: 1.25em;
  }
  .mid__brand__text hr {
    display: flex;
    margin-bottom: 3.4375em;
    border: 2px solid #55DFB4;
    margin-left: 0.9375em;
    width: 55%;
  }
  .mid__brand__trump {
    height: auto;
    margin-top: 1.875em;
    width: 30%;
  }
  .mid__brand__trump__trumpet {
    width: 80%;
    transform: translate(10%, 5%);
    margin-top: 1.25em;
  }
}
.pricing__tittle {
  margin-top: 1.3em;
  font-family: "Raleway";
  font-size: 2.25rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1em;
}
.pricing__basic {
  margin-top: 0.9375em;
  padding-bottom: 2.5em;
  width: 80%;
  margin: 0 auto;
  border-radius: 0.9375em;
  border: 1px solid #FB3B64;
  position: relative;
}
.pricing__basic__precio {
  display: inline-block;
  width: 45%;
}
.pricing__basic__precio h3 {
  transform: translate(40%, -85%);
  font-family: Raleway;
  font-size: 1.25rem;
  font-weight: 700;
}
.pricing__basic__precio p {
  transform: translate(40%, -30%);
  font-family: "Open Sans";
  font-size: 2.875rem;
  font-weight: 300;
  color: #FB3B64;
}
.pricing__basic__check {
  text-align: center;
  width: 45%;
  margin-left: 0.9375em;
  display: inline-block;
}
.pricing__basic__check li {
  text-align: left;
  transform: translate(0%, 80%);
  line-height: 2.5rem;
  list-style: none;
  font-family: "Open Sans";
  font-size: 0.875em;
  font-weight: 400;
}
.pricing__basic__check img {
  margin-right: 0.3125em;
}
.pricing__basic__buttom {
  transform: translate(45%, 130%);
  padding: 15px 60px;
  border-radius: 1.4375rem;
  background-color: #EB476E;
  border: 0rem;
  font-family: "Open Sans";
  font-size: 0.8125em;
  font-weight: 700;
  text-align: left;
  color: white;
  text-align: center;
}
.pricing__pro {
  padding-bottom: 2.5em;
  width: 80%;
  margin: 60px auto;
  border-radius: 0.9375rem;
  border: 1px solid #07ACE6;
  position: relative;
}
.pricing__pro__precio {
  display: inline-block;
  width: 45%;
}
.pricing__pro__precio h3 {
  transform: translate(15%, -20%);
  font-family: Raleway;
  font-size: 1.1875em;
  font-weight: 700;
}
.pricing__pro__precio__dollar {
  transform: translate(25%, 0%);
  font-family: "Open Sans";
  font-size: 2.875em;
  font-weight: 300;
  color: #07ACE6;
}
.pricing__pro__precio__offer {
  font-family: Raleway;
  font-size: 0.75em;
  font-weight: 700;
  color: #13253B;
  transform: translate(27%, 5%);
}
.pricing__pro__check {
  margin-left: 0.9375em;
  width: 45%;
  display: inline-block;
}
.pricing__pro__check li {
  transform: translate(0%, 80%);
  line-height: 2.5rem;
  list-style: none;
  font-family: "Open Sans";
  font-size: 0.875em;
  font-weight: 400;
}
.pricing__pro__check img {
  margin-right: 0.3125rem;
}
.pricing__pro__buttom {
  transform: translate(45%, 130%);
  padding: 15px 60px;
  border-radius: 1.4375rem;
  background-color: #07ACE6;
  border: 0px;
  font-family: "Open Sans";
  font-size: 0.8125em;
  font-weight: 700;
  line-height: 1.1062rem;
  text-align: left;
  color: white;
  text-align: center;
}
.pricing__premium {
  padding-bottom: 2.5em;
  width: 80%;
  margin: 60px auto;
  border-radius: 0.9375em;
  border: 1px solid #55DFB4;
  position: relative;
}
.pricing__premium__precio {
  display: inline-block;
  width: 45%;
  position: relative;
}
.pricing__premium__precio h3 {
  transform: translate(25%, -5%);
  font-family: Raleway;
  font-size: 1.1875em;
  font-weight: 700;
  line-height: 1.5rem;
}
.pricing__premium__precio__dollar {
  transform: translate(25%, 0%);
  font-family: "Open Sans";
  font-size: 2.875em;
  font-weight: 300;
  line-height: 4rem;
  color: #55DFB4;
}
.pricing__premium__precio__offer {
  font-family: Raleway;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 0.8806rem;
  color: #13253B;
  transform: translate(27%, 5%);
}
.pricing__premium__check {
  margin-left: 0.9375em;
  width: 45%;
  display: inline-block;
}
.pricing__premium__check li {
  transform: translate(0%, 80%);
  line-height: 2.5rem;
  list-style: none;
  font-family: "Open Sans";
  font-size: 0.875em;
  font-weight: 400;
}
.pricing__premium__check img {
  margin-right: 0.3125em;
}
.pricing__premium__buttom {
  transform: translate(45%, 130%);
  padding: 15px 60px;
  border-radius: 1.4375rem;
  background-color: #55DFB4;
  border: 0rem;
  font-family: "Open Sans";
  font-size: 0.8125em;
  font-weight: 700;
  line-height: 1.1062rem;
  text-align: left;
  color: white;
  text-align: center;
}
.pricing__premium:hover {
  transform: scale(110%);
  box-shadow: 0 0.25rem 0.375rem #55DFB4;
}
.pricing__pro:hover {
  transform: scale(110%);
  box-shadow: 0 0.25rem 0.375rem #07ACE6;
}
.pricing__basic:hover {
  transform: scale(110%);
  box-shadow: 0 0.25rem 0.375rem #FB3B64;
}

@media (min-width: 1000px) {
  .pricing {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .pricing__tittle {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
  }
  .pricing--stilo, .pricing__premium, .pricing__pro, .pricing__basic {
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 0;
    width: 25%;
  }
  .pricing--h3, .pricing__premium__precio h3, .pricing__pro__precio h3, .pricing__basic__precio h3 {
    margin-top: 1.875rem;
    transform: translate(0%, 0%);
    text-align: center;
  }
  .pricing__basic {
    margin: 1.25rem auto 3.9rem auto;
  }
  .pricing__basic__precio {
    margin: 0 auto;
  }
  .pricing__basic__precio p {
    margin-top: 1.5625rem;
    transform: translate(0%, 0%);
    text-align: center;
    margin-bottom: 3.125rem;
  }
  .pricing__basic__check {
    margin: 0 auto;
  }
  .pricing__basic__check li {
    text-align: center;
    transform: translate(0%, 0%);
  }
  .pricing__basic__buttom {
    transform: translate(60%, 140%);
    padding: 1.0625rem 2.5rem;
    width: 45%;
    text-align: center;
  }
  .pricing__pro__precio {
    margin: 0 auto;
  }
  .pricing__pro__precio__dollar {
    margin-top: 0.9375rem;
    transform: translate(0%, 0%);
    text-align: center;
    margin-bottom: 0.3125rem;
  }
  .pricing__pro__precio__offer {
    margin-top: 0rem;
    transform: translate(0%, 0%);
    text-align: center;
    margin-bottom: 3.125rem;
  }
  .pricing__pro__check {
    margin: 0 auto;
    text-align: center;
  }
  .pricing__pro__check li {
    transform: translate(0%, 0%);
  }
  .pricing__pro__buttom {
    transform: translate(65%, 130%);
    padding: 1.0625rem 2.5rem;
    width: 45%;
    text-align: center;
  }
  .pricing__premium__precio {
    margin: 0 auto;
  }
  .pricing__premium__precio__dollar {
    margin-top: 0.9375rem;
    transform: translate(0%, 0%);
    text-align: center;
    margin-bottom: 0.3125rem;
  }
  .pricing__premium__precio__offer {
    margin-top: 0rem;
    transform: translate(0%, 0%);
    text-align: center;
    margin-bottom: 3.125rem;
  }
  .pricing__premium__check {
    margin: 0 auto;
    text-align: center;
  }
  .pricing__premium__check li {
    transform: translate(0%, 0%);
  }
  .pricing__premium__buttom {
    transform: translate(65%, 120%);
    padding: 1.0625rem 2.5rem;
    width: 45%;
    text-align: center;
  }
}
.question {
  margin-top: 3em;
  margin-left: 1em;
}
.question__left h2 {
  font-family: Raleway;
  font-size: 2.5em;
  font-weight: 400;
}
.question__left__call {
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 400;
  text-align: left;
}
.question__left__mail {
  display: inline-block;
  margin-bottom: 10px;
}
.question__left__mail p {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  color: #A5A5A5;
  transform: translate(0%, -30%);
}
.question__left__mail img {
  display: inline-block;
  margin-top: 10%;
}
.question__left__phone p {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  color: #A5A5A5;
  transform: translate(0%, -30%);
}
.question__left__phone img {
  display: inline-block;
}
.question__form {
  margin-top: 2.5rem;
}
.question__form__ne {
  font-family: "Open Sans";
  font-size: 0.6875em;
  font-weight: 600;
  text-align: left;
  color: #08A6E4;
  padding-bottom: 0.9375em;
}
.question__form__input {
  border: none;
  border-bottom: 2px solid #95989A;
  width: 90%;
  margin-bottom: 1.875em;
}
.question__form .fallo {
  border-bottom: 2px solid red;
}
.question__form__checkbox {
  display: inline;
  position: relative;
}
.question__form__checkbox__check {
  width: 1rem;
  height: 2rem;
  display: inline-block;
  width: 10%;
  vertical-align: top;
  appearance: none;
  border: 2px solid gray;
  background: transparent;
}
.question__form__checkbox__check:checked {
  background-image: url(./style/form/check.png);
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0rem auto;
  background-position: center;
  background-size: 1rem;
}
.question__form__checkbox .fallo2 {
  border: 2px solid red;
}
.question__form__checkbox__text {
  display: inline-block;
  width: 75%;
  font-family: "Open Sans";
  font-size: 0.75em;
  font-weight: 400;
  text-align: left;
  color: #707070;
}
.question__form__button {
  transform: translate(60%, 0%);
  margin-top: 1.25em;
  padding: 17px 80px;
  border-radius: 2.5rem;
  background-color: #08A6E4;
  border: none;
  font-family: "Open Sans";
  font-size: 0.8125em;
  font-weight: 700;
  color: white;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}

@media (min-width: 1000px) {
  .question {
    margin-top: 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .question__left {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
  }
  .question__left h2 {
    font-family: Raleway;
    font-size: 3.0625rem;
    font-weight: 400;
    text-align: left;
  }
  .question__left__call {
    margin-top: 1.25em;
  }
  .question__form {
    margin-top: 0rem;
    width: 38%;
  }
  .question__form__checkbox {
    margin-left: 0;
  }
  .question__form__checkbox__check {
    border-radius: 2px;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-left: 1.9em;
    appearance: none;
    border: 2px solid gray;
    background: transparent;
  }
  .question__form__checkbox__check:checked {
    border-radius: 2px;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-left: 1.9em;
  }
  .question__form__checkbox__text {
    width: 70%;
  }
  .question__form__button {
    transform: translate(100%, 0%);
    padding: 1.25em 1.875em;
    width: 40%;
  }
}
.footer {
  margin-top: 2.5em;
  margin-bottom: 1.25em;
  position: relative;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.footer__text {
  margin-top: 1.25em;
  position: relative;
  display: inline-block;
  width: 50%;
  margin-left: 0.9375em;
}
.footer__text__tittle {
  font-family: Raleway;
  font-size: 1.625rem;
  font-weight: 300;
  text-align: left;
  color: #08A6E4;
}
.footer__text__reserved {
  font-family: "Open Sans";
  font-size: 0.6875rem;
  font-weight: 400;
  text-align: left;
  color: #A5A5A5;
}
.footer__img {
  transform: translate(0%, -20%);
  display: inline-block;
  width: 41%;
}
.footer__img__twitter {
  margin-left: 1.0625em;
  margin-right: 1.5625em;
}
.footer__img__link {
  margin-left: 1.0625em;
}

@media (min-width: 62.5rem) {
  .footer {
    display: flex;
    flex-flow: row nowrap;
  }
  .footer__img {
    margin-top: 1.875rem;
    transform: translate(0%, 0%);
    width: auto;
    margin-left: 20.3125rem;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-block;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 5;
}
.header__1 {
  display: inline-block;
  font-family: Raleway;
  font-weight: 300;
  text-align: left;
  color: #08A6E4;
  margin-top: 0.7em;
  margin-left: 1.0625em;
  padding-bottom: 0.325em;
}
.header__h0 {
  display: none;
}
.header__burger {
  padding-left: 5.62em;
  display: inline;
  text-align: right;
}
.header__close {
  display: none;
}
.header__ul {
  display: none;
}
.header__burger.ocult {
  display: none;
}
.header__close.visible {
  padding-left: 5.62em;
  display: inline;
  text-align: right;
}
.header__ul.visible {
  background-color: white;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 16px;
}
.header__ul.visible li {
  margin-left: 3.0625em;
  list-style: none;
  font-family: "Open Sans";
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.105rem;
  color: #A5A5A5;
  padding-bottom: 16px;
}
.header__ul.visible li:hover {
  color: black;
}
.header li {
  color: black;
}
.header__scroll {
  position: fixed;
  width: 100%;
  height: 1em;
}
.header .scrollbar {
  width: 0%;
  height: 100%;
  background-color: #08A6E4;
}

@media screen and (min-width: 1000px) {
  .header {
    display: flex;
    flex-flow: row nowrap;
  }
  .header__1 {
    display: none;
  }
  .header img {
    display: none;
  }
  .header__h0 {
    display: inline-block;
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
    color: #08A6E4;
    margin-top: 0.625em;
    margin-left: 4.375em;
    padding-bottom: 0.625em;
  }
  .header__ul {
    text-align: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    margin-left: 600px;
  }
  .header__ul__li {
    margin-right: 5em;
    display: flex;
    font-family: "Open Sans";
    font-size: 0.6875rem;
    font-weight: 700;
    letter-spacing: 0.205em;
    text-align: center;
    color: #A5A5A5;
  }
  .header__ul__li:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: #08A6E4;
    text-underline-offset: 0.9375rem;
    text-decoration-thickness: 0.125rem;
  }
  .header__scroll {
    display: block;
    position: fixed;
    width: 100%;
    height: 1em;
  }
  .header .scrollbar {
    width: 0%;
    height: 100%;
    background-color: #08A6E4;
  }
}
.icon__daily {
  margin-top: 1.25em;
  margin-left: 8.0625em;
}
.icon__daily__circle {
  width: 62.7104px;
  height: 62.7104px;
  margin-left: 1.625em;
  background: #FB3B64;
  border-radius: 50%;
}
.icon__daily__circle__person {
  margin-left: 0.625em;
}
.icon__daily__circle__person__person {
  margin-left: 1.25em;
}
.icon__daily h3 {
  margin-top: 0.75em;
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.3725rem;
  text-align: left;
}
.icon__daily p {
  margin-left: 0.625em;
  margin-top: 0.75em;
  text-align: left;
  margin-bottom: 1.25em;
  font-family: "Raleway";
  font-size: 1.0625rem;
  font-weight: 400;
  color: #A5A5A5;
}
.icon__eyes {
  margin-left: 6.25em;
}
.icon__eyes__circle {
  width: 63px;
  height: 63px;
  margin-left: 3.5625em;
  border-radius: 50%;
  background: #08A6E4;
}
.icon__eyes__circle__eye__img {
  margin-top: 0.7656em;
  margin-left: 1.25em;
}
.icon__eyes h3 {
  margin-top: 0.75em;
  margin-left: 1.25em;
  font-family: Raleway;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.3725rem;
  text-align: left;
}
.icon__eyes p {
  width: 50%;
  margin-top: 1.25em;
  margin-left: 0.9375em;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #A5A5A5;
  margin-bottom: 1.25em;
}
.icon__post {
  margin-left: 6.625em;
}
.icon__post__circle {
  width: 62.7104px;
  height: 62.7104px;
  margin-left: 3.1662em;
  border-radius: 50%;
  background: #55DFB4;
}
.icon__post__circle__post {
  margin-top: 0.3125em;
  margin-left: 1.875em;
}
.icon__post h3 {
  margin-left: 1.875em;
  margin-top: 0.75em;
  text-align: left;
  font-family: Raleway;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.3725em;
}
.icon__post p {
  margin-left: 1.5625em;
  width: 40%;
  margin-top: 0.75em;
  margin-bottom: 2.5em;
  font-family: Raleway;
  font-size: 1.0625rem;
  font-weight: 400;
  text-align: center;
  color: #A5A5A5;
}

@media screen and (min-width: 62.5rem) {
  .icon {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
  }
  .icon__daily {
    margin-left: 0;
    display: inline-block;
    transform: translate(0%, 0%);
  }
  .icon__eyes {
    display: inline-block;
    transform: translate(0%, 14%);
    margin-top: 0rem;
  }
  .icon__eyes p {
    width: 60%;
    margin-top: 0.75em;
    margin-left: 1.5625em;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #A5A5A5;
    margin-bottom: 1.25em;
  }
  .icon__post {
    display: inline-block;
    transform: translate(0%, 11%);
  }
  .icon__post p {
    margin-left: 1.5625em;
    width: 60%;
    margin-top: 0.75em;
    margin-bottom: 2.5em;
    font-family: Raleway;
    font-size: 1.0625rem;
    font-weight: 400;
    text-align: center;
    color: #A5A5A5;
  }
}
.pop {
  display: none;
  background-color: white;
  margin-top: 4rem;
  z-index: 100;
  position: relative;
  width: 80%;
  margin: 0 auto;
  border-radius: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 0.1em solid #EDC1FF;
  box-shadow: 10px 10px 14px 10px #EDC1FF;
  margin-top: 10rem;
}
.pop__close {
  font-size: 1em;
  position: absolute;
  font-family: "Open Sans";
  font-weight: 400;
  margin-left: 17rem;
  transform: translate(70%, -50%);
  background-color: transparent;
  border: none;
}
.pop__tittle {
  text-align: center;
  font-family: Raleway;
  font-size: 2.5em;
  font-weight: 400;
}
.pop__form {
  display: block;
}
.pop__form__p {
  padding-top: 1rem;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}
.pop__form__email {
  display: block;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid #95989A;
  width: 90%;
  margin-bottom: 1em;
}
.pop__form__submit {
  padding: 10px 30px;
  border-radius: 2.5rem;
  background-color: #C849FC;
  border: none;
  font-family: "Open Sans";
  font-size: 0.8125em;
  font-weight: 700;
  color: white;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  transform: translate(100%, 0%);
}
.pop__form .fallo {
  border-bottom: 2px solid red;
}

.visible {
  display: block;
}

@media (min-width: 1000px) {
  .pop {
    width: 40%;
    height: 20rem;
  }
  .pop__close {
    font-size: 1.5em;
    position: absolute;
    font-family: "Open Sans";
    font-weight: 400;
    margin-left: 36rem;
    transform: translate(70%, -50%);
    background-color: transparent;
    border: none;
  }
  .pop__tittle {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }
  .pop__form__submit {
    padding: 20px 85px;
    border-radius: 2.5rem;
    background-color: #C849FC;
    border: none;
    font-family: "Open Sans";
    font-size: 0.8125em;
    font-weight: 700;
    color: white;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
    transform: translate(100%, 10%);
  }
  .pop__form__p {
    margin-bottom: 1rem;
  }
  .pop__form__email {
    margin-bottom: 4rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-image: url(./style/top/top.jpg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  z-index: 5;
}

/*# sourceMappingURL=style.css.map */
