.sell {
  margin-top: 80px;
  margin-left: 2.0625rem;
  margin-right: 2.0625rem;
}
.sell h2 {
  width: 10.125rem;
  height: 2.5625rem;
  margin-left: 4.5994rem;
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.5681rem;
  text-align: center;
  color: black;
}
.sell p {
  margin-left: 0.0975rem;
  margin-bottom: 30px;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  text-align: center;
  color: black;
}
.sell button {
  width: 19.375rem;
  height: 4.1875rem;
  top: 9.125rem;
  border-radius: 2.5rem;
  background: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border: none;
  margin-bottom: 20px;
}
.sell button p {
  margin-top: 20px;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: center;
  color: white;
}

.setup {
  margin-top: 20px;
  height: 16.6875rem;
  overflow: hidden;
}
.setup img {
  margin: 0 0 35px 0;
  width: 375px;
  height: 267px;
  object-fit: cover;
}

.sales h2 {
  width: 70%;
  margin-top: 10%;
  margin-left: 15%;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
}

.daily {
  margin-top: 1.25rem;
  margin-left: 8.0625rem;
}
.daily__circle {
  width: 3.9194rem;
  height: 3.9194rem;
  margin-left: 1.625rem;
  background: #FB3B64;
  border-radius: 50%;
}
.daily__circle__person {
  top: 3px;
  margin-left: 0.625rem;
}
.daily__circle__person__person {
  margin-left: 1.25rem;
}
.daily h3 {
  margin-top: 0.75rem;
  font-family: "Raleway";
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.5rem;
  letter-spacing: 0.3725rem;
  text-align: left;
}
.daily p {
  margin-left: 10px;
  margin-top: 12px;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #A5A5A5;
}

.eyes {
  margin-left: 6.25rem;
}
.eyes__circle {
  width: 3.9375rem;
  height: 3.9375rem;
  margin-left: 3.5625rem;
  border-radius: 50%;
  background: #08A6E4;
}
.eyes__circle__eye__img {
  margin-top: 12.25px;
  margin-left: 20px;
}
.eyes h3 {
  margin-top: 12px;
  margin-left: 20px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 5.96px;
  text-align: left;
}
.eyes p {
  width: 50%;
  margin-top: 20px;
  margin-left: 15px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #A5A5A5;
  margin-bottom: 20px;
}

.post {
  margin-left: 106px;
}
.post__circle {
  width: 62.71px;
  height: 62.71px;
  margin-left: 50.66px;
  border-radius: 50%;
  background: #55DFB4;
}
.post__circle__post {
  margin-top: 5px;
  margin-left: 30px;
}
.post h3 {
  margin-left: 30px;
  margin-top: 12px;
  text-align: left;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 5.9600000381px;
}
.post p {
  margin-left: 25px;
  width: 40%;
  margin-top: 12px;
  margin-bottom: 40px;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #A5A5A5;
}

.mid {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F7F7F7;
  display: block;
}
.mid__first {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  display: block;
}
.mid__first__img {
  padding-top: 15px;
}
.mid__first__img__laptop {
  position: relative;
  margin-left: 19%;
  margin-top: 7%;
}
.mid__first__img__circle {
  position: absolute;
  margin-left: 43%;
}
.mid__first h3 {
  margin-top: 5%;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  margin-left: 5%;
}
.mid__first p {
  margin-top: 10%;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: 5%;
  padding-bottom: 15px;
}
.mid__shop {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  display: block;
}
.mid__shop__img {
  padding-top: 15px;
}
.mid__shop__img__phone {
  position: relative;
  margin-left: 26%;
  margin-top: 2%;
}
.mid__shop__img__circleblue {
  position: absolute;
  margin-left: 21%;
}
.mid__shop h3 {
  margin-top: 5%;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  margin-left: 5%;
}
.mid__shop p {
  margin-top: 10%;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: 5%;
  padding-bottom: 15px;
}
.mid__brand {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  display: block;
}
.mid__brand h3 {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.22px;
  text-align: left;
  margin-left: 5%;
  padding-top: 5%;
}
.mid__brand p {
  margin-top: 10%;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: 5%;
  padding-bottom: 10px;
}
.mid__trump {
  background-color: #55DFB4;
  width: 314px;
  height: 195px;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
}
.mid__trump__trumpet {
  padding-top: 10%;
  padding-right: 50px;
  width: 350px;
  height: 250px;
}

.pricing__tittle {
  margin-top: 14%;
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  line-height: 42.26px;
  text-align: center;
}
.pricing__basic {
  margin-top: 15px;
  padding-bottom: 2.5rem;
  width: 80%;
  margin-left: 10%;
  width: 293px;
  height: 275px;
  border-radius: 15px;
  border: 1px solid #FB3B64;
  position: relative;
}
.pricing__basic__precio {
  display: inline-block;
  width: 45%;
  position: relative;
}
.pricing__basic__precio h3 {
  transform: translate(40%, -85%);
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.pricing__basic__precio p {
  transform: translate(40%, -30%);
  font-family: "Open Sans";
  font-size: 46px;
  font-weight: 300;
  line-height: 64px;
  color: #FB3B64;
}
.pricing__basic__check {
  width: 45%;
  display: inline-block;
}
.pricing__basic__check li {
  transform: translate(0%, 80%);
  line-height: 40px;
  list-style: none;
}
.pricing__basic__check img {
  margin-right: 5px;
}
.pricing__basic__buttom {
  transform: translate(50%, 100%);
  padding: 5% 20%;
  border-radius: 23px;
  background-color: #EB476E;
  border: 0px;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 17.7px;
  text-align: left;
  color: white;
  text-align: center;
}
.pricing__pro {
  margin-top: 60px;
  padding-bottom: 2.5rem;
  width: 80%;
  margin-left: 10%;
  width: 293px;
  height: 275px;
  border-radius: 15px;
  border: 1px solid #07ACE6;
  position: relative;
}
.pricing__pro__precio {
  display: inline-block;
  width: 45%;
  position: relative;
}
.pricing__pro__precio h3 {
  transform: translate(15%, -20%);
  font-family: Raleway;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}
.pricing__pro__precio__dollar {
  transform: translate(25%, 0%);
  font-family: "Open Sans";
  font-size: 46px;
  font-weight: 300;
  line-height: 64px;
  color: #07ACE6;
}
.pricing__pro__precio__offer {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.09px;
  color: #13253B;
  transform: translate(27%, 5%);
}
.pricing__pro__check {
  margin-left: 15px;
  width: 45%;
  display: inline-block;
}
.pricing__pro__check li {
  transform: translate(0%, 80%);
  line-height: 40px;
  list-style: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.pricing__pro__check img {
  margin-right: 5px;
}
.pricing__pro__buttom {
  transform: translate(50%, 100%);
  padding: 5% 20%;
  border-radius: 23px;
  background-color: #07ACE6;
  border: 0px;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 17.7px;
  text-align: left;
  color: white;
  text-align: center;
}
.pricing__premium {
  margin-top: 60px;
  padding-bottom: 2.5rem;
  width: 80%;
  margin-left: 10%;
  width: 293px;
  height: 275px;
  border-radius: 15px;
  border: 1px solid #55DFB4;
  position: relative;
}
.pricing__premium__precio {
  display: inline-block;
  width: 45%;
  position: relative;
}
.pricing__premium__precio h3 {
  transform: translate(25%, -5%);
  font-family: Raleway;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}
.pricing__premium__precio__dollar {
  transform: translate(25%, 0%);
  font-family: "Open Sans";
  font-size: 46px;
  font-weight: 300;
  line-height: 64px;
  color: #55DFB4;
}
.pricing__premium__precio__offer {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.09px;
  color: #13253B;
  transform: translate(27%, 5%);
}
.pricing__premium__check {
  margin-left: 15px;
  width: 45%;
  display: inline-block;
}
.pricing__premium__check li {
  transform: translate(0%, 80%);
  line-height: 40px;
  list-style: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.pricing__premium__check img {
  margin-right: 5px;
}
.pricing__premium__buttom {
  transform: translate(50%, 100%);
  padding: 5% 20%;
  border-radius: 23px;
  background-color: #55DFB4;
  border: 0px;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 17.7px;
  text-align: left;
  color: white;
  text-align: center;
}

.question {
  margin-top: 20%;
  margin-left: 5%;
}
.question h2 {
  font-family: Raleway;
  font-size: 40px;
  font-weight: 400;
  line-height: 46.96px;
}
.question__call {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.question__mail p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #A5A5A5;
  transform: translate(10%, -130%);
}
.question__mail img {
  margin-top: 10%;
}
.question__phone p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #A5A5A5;
  transform: translate(10%, -130%);
}
.question__link {
  position: relative;
}
.question__link a {
  transform: translate(10%, 10%);
}
.question__link__edin {
  position: absolute;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #A5A5A5;
  text-decoration: none;
}
.question__link__edin:visited {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #A5A5A5;
  text-decoration: none;
}
.question__link__edin:active {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #A5A5A5;
  text-decoration: none;
}
.question__form {
  margin-left: 1%;
  margin-top: 40px;
}
.question__form__ne {
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  line-height: 14.98px;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #08A6E4;
  padding-bottom: 15px;
}
.question__form__input {
  border: none;
  border-bottom: 2px solid #95989A;
  width: 90%;
  margin-bottom: 30px;
}
.question__form__checkbox {
  display: inline;
  position: relative;
}
.question__form__checkbox__check {
  width: 24px;
  height: 24px;
  display: inline-block;
  width: 10%;
  vertical-align: top;
  border-bottom: 0.5px solid #95989A;
  accent-color: white;
}
.question__form__checkbox .question__form__checkbox__check:checked {
  background-image: url(./form/check.png);
  border: none;
}
.question__form__checkbox__check:disabled {
  background-color: white;
}
.question__form__checkbox__text {
  display: inline-block;
  width: 75%;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
  color: #707070;
}
.question__form__button {
  transform: translate(50%, 0%);
  margin-top: 20px;
  padding: 5% 25%;
  border-radius: 40px;
  background-color: #08A6E4;
  border: none;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 17.7px;
  color: white;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}

.footer {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.footer__text {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  width: 60%;
  margin-left: 5%;
}
.footer__text__tittle {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: #08A6E4;
}
.footer__text__reserved {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 14.98px;
  text-align: left;
  color: #A5A5A5;
}
.footer__img {
  transform: translate(0%, -20%);
  display: inline-block;
  width: 31%;
}
.footer__img__twitter {
  margin-left: 17px;
  margin-right: 25px;
}

.header {
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);
}
.header h1 {
  display: inline-block;
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.3125rem;
  text-align: left;
  color: #08A6E4;
  margin-top: 1.0625rem;
  margin-left: 1.5625rem;
  padding-bottom: 10px;
}
.header img {
  padding-left: 90px;
  display: inline;
  text-align: right;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=style.css.map */
