.sell {
  width: 310px;
  height: 213px;
  margin-top: 1.0625rem;
  margin-left: 2.0625rem;
  margin-right: 2.0625rem;
  gap: 0px;
  opacity: 0px;
}
.sell h2 {
  width: 10.125rem;
  height: 2.5625rem;
  margin-left: 4.5994rem;
  font-family: Raleway;
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 2.5681rem;
  text-align: center;
  color: black;
}
.sell p {
  width: 19.25rem;
  height: 3.5625rem;
  top: 3.8125rem;
  margin-left: 0.0975rem;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  text-align: center;
  color: black;
}
.sell button {
  width: 19.375rem;
  height: 4.1875rem;
  top: 9.125rem;
  gap: 0px;
  opacity: 0px;
  border-radius: 2.5rem;
  background: #08A6E4;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  border: none;
}
.sell button p {
  width: 7.9375rem;
  height: 1.375rem;
  top: 1.375rem;
  margin-left: 5.75rem;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: center;
  color: white;
}

.sales h2 {
  width: 303px;
  height: 112px;
  margin-top: 290px;
  margin-left: 36px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
}

.daily {
  width: 117px;
  height: 140px;
  margin-top: 20px;
  margin-left: 129px;
  gap: 0px;
  opacity: 0px;
}
.daily .daily_circle {
  width: 62.71px;
  height: 62.71px;
  margin-left: 21.73px;
  gap: 0px;
  opacity: 0px;
  background: #FB3B64;
  border-radius: 50%;
}
.daily .daily_person {
  width: 44px;
  height: 52px;
  top: 3px;
  left: 52px;
  gap: 0px;
  opacity: 0px;
  background-color: #FB3B64;
}
.daily .daily_person ._person1 {
  border: 1px;
  width: 22px;
  height: 28px;
  top: 0px;
  left: 11px;
  gap: 0px;
  opacity: 0px;
  color: black;
  background-color: aqua;
  position: absolute;
}
.daily h3 {
  width: 117px;
  height: 24px;
  top: 76.89px;
  gap: 0px;
  opacity: 0px;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 5.9600000381px;
  text-align: center;
}
.daily p {
  width: 95px;
  height: 20px;
  margin-top: 12px;
  margin-left: 11.15px;
  gap: 0px;
  opacity: 0px;
  text-align: center;
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #A5A5A5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  width: 23.4375rem;
  height: 4.375rem;
}
.header h1 {
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.3125rem;
  text-align: left;
  color: #08A6E4;
  width: 12.875rem;
  height: 2.3125rem;
  margin-top: 1.0625rem;
  margin-left: 1.5625rem;
  gap: 0px;
  opacity: 0px;
}

.setup {
  width: 48.6875rem;
  height: 16.6875rem;
  left: -12.5938rem;
  gap: 0px;
  opacity: 0px;
  align-items: center;
  position: absolute;
  overflow: hidden;
}
.setup img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

/*# sourceMappingURL=style.css.map */
