
.daily{
    margin-top: 1.25rem;
    margin-left: 8.0625rem;
    &__circle{
        width: 3.9194rem;
        height: 3.9194rem;
        margin-left: 1.625rem;
        background: #FB3B64;
        border-radius: 50%;
        

        &__person{
            top: 3px;
            margin-left: .625rem;

            &__person{
                margin-left: 1.25rem;
            }
        }
    }

    h3{

        margin-top: .75rem;

        font-family: 'Raleway';
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 1.5rem;
        letter-spacing: .3725rem;
        text-align: left;
    }

    p{
        margin-left: 10px;
        margin-top: 12px;
        text-align: left;
        margin-bottom: 20px;
        font-family: 'Raleway';
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        color: #A5A5A5;
    }

}
