.footer{
    margin-top: 2.5em;
    margin-bottom: 1.25em;

    position: relative;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    &__text{
        margin-top: 1.25em;
        position: relative;
        display: inline-block;
        width: 50%;
        margin-left: .9375em;
        &__tittle{
            font-family: Raleway;
            font-size: 1.625rem;
            font-weight: 300;
            text-align: left;
            color: #08A6E4;
        }

        &__reserved{
            font-family: 'Open Sans';
            font-size: .6875rem;
            font-weight: 400;
            text-align: left;
            color: #A5A5A5;
        }
    }
    &__img{
        transform: translate(0% , -20%);
        display: inline-block;
        width: 41%;
        &__twitter{
            margin-left: 1.0625em;
            margin-right: 1.5625em;
        }
        &__link{
            margin-left: 1.0625em;
        }
    }
}

@media (min-width:62.5rem){
    .footer{
        display: flex;
        flex-flow: row nowrap;
        &__img{
            margin-top: 1.875rem;
            transform: translate(0% , 0%);
            width: auto;
            margin-left: 20.3125rem;
        }
    }
}