.header{    
    width: 100%;
    display: inline-block;  
    box-shadow: 0 .4375rem .375rem rgba(0, 0, 0, 0.1);  
    &__1{
        display: inline-block ;
        font-family: Raleway;
        font-weight: 300;
        text-align: left;
        color: #08A6E4;
        margin-top: 0.7em;
        margin-left: 1.0625em;
        padding-bottom: .325em;
    }

    &__h0{
        display: none;
    }

    img{
        padding-left: 5.62em;
        display: inline;
        text-align: right;
    }

    &__ul{
        display: none;
        &__li{
            display: none;
        }
    }
}

@media screen and (min-width: 62.5rem) {
    .header{
        display: flex;
        flex-flow: row nowrap;
        &__1 {
            display: none;
        }

        img{
            display: none;
        }

        &__h0{
            width: 20%;
            display: inline-block;
            font-family: Raleway;
            font-size: 2rem;
            font-weight: 300;
            line-height: 2.3125rem;
            text-align: left;
            color: #08A6E4;
            margin-top: .625rem;
            margin-left: 9.375rem;
            padding-bottom: .625rem;
        }
        &__ul{
            margin-left: 31%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;
            align-items: center; 
            width: 50%;
            &__li{
                margin-right: 5rem; 
                display: flex;
                font-family: 'Open Sans';
                font-size: .6875rem;
                font-weight: 700;
                line-height: .9375rem;
                letter-spacing: .205rem;
                text-align: center;
                color: #A5A5A5;
            }
            &__li:hover{
                color: black;
                text-decoration: underline;
                text-decoration-color: #08A6E4;
                text-underline-offset: .9375rem;
                text-decoration-thickness: .125rem;
            }
        }
    }
}