.mid{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#F7F7F7;
    display:block;

    &__first{
        background-color: white;
        width: 80%;
        margin-left: 10%;

        display: block;
        &__img{
            padding-top: 15px;
            &__laptop{
                position: relative;
                margin-left: 19%;
                margin-top:7%;
            }

            &__circle{
                position: absolute;
                margin-left: 43%;
                
            }
        }
        h3{
            margin-top: 5%;
            font-family: Raleway;
            font-size: 30px;
            font-weight: 400;
            line-height: 35.22px;
            text-align: left;
            margin-left: 5%;

        }

        p{
            margin-top:10%;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            margin-left: 5%;
            padding-bottom: 15px;
        }
    }

    &__shop{
        background-color: white;
        width: 80%;
        margin-left: 10%;
        margin-top:30px;

        display: block;

        &__img{
            padding-top: 15px;
            &__phone{
                position: relative;
                margin-left: 26%;
                margin-top:2%;
            }

            &__circleblue{
                position: absolute;
                margin-left: 21%;
                
            }

        }
        h3{
            margin-top: 5%;
            font-family: Raleway;
            font-size: 30px;
            font-weight: 400;
            line-height: 35.22px;
            text-align: left;
            margin-left: 5%;

        }

        p{
            margin-top:10%;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            margin-left: 5%;
            padding-bottom: 15px;
        }
    }

    &__brand{

        background-color: white;
        width: 80%;
        margin-left: 10%;
        margin-top:30px;

        display: block;
        margin-bottom: 5%;
        h3{
            font-family: Raleway;
            font-size: 30px;
            font-weight: 400;
            line-height: 35.22px;
            text-align: left;
            margin-left: 5%;
            padding-top: 5%;


        }

        p{
            margin-top:10%;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            margin-left: 5%;
            padding-bottom: 10px;
        }
    }

    &__trump{
        background-color: #55DFB4;
        width: 314px;
        height: 195px;
        width: 80%;
        margin-left: 10%;
        border-radius: 5px;

        &__trumpet{
            padding-top: 10%;
            padding-right: 50px;
            width: 350px;
            height: 250px;
        }
    }
}