.mid{
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    background-color:#F7F7F7;
    display:block;

    &__first{
        background-color: white;
        width: 80%;
        margin:0 auto;
        display: block;

        &__img{
            padding-top: .9375em;
            &__laptop{
                position: relative;
                margin-left: 3.125em;
                margin-top:1.75em;
            }

            &__circle{
                position: absolute;
                margin-left: 9.5625em;
            }

            &__laptop2{
                display: none;
            }
            &__rectangle{
                display: none;
            }

        }

        &__text{
            h3{
                margin-top: .625em;
                font-family: Raleway;
                font-size: 1.875rem;
                font-weight: 400;

                text-align: left;
                margin-left: .625em;

            }

            p{
                margin-top:1.25em;
                font-family: Open Sans;
                font-size: .875rem;
                font-weight: 400;
                text-align: left;
                margin-left: .625em;
                padding-bottom: .9375em;
            }
            hr{
                display: none;
            }
        }
    }

    &__shop{
        background-color: white;
        width: 80%;
        margin:0 auto;
        margin-top:1.875em;
        display: block;
        &__img{
            padding-top: .9375em;
            &__phone{
                position: relative;
                margin-left: 5.625em;
                margin-top:.625em;
            }

            &__circleblue{
                position: absolute;
                margin-left: 5em;
            }

            &__phone2{
                display: none;
            }

            &__circleblue2{
                display: none;
            }
        }
        &__text{
            h3{
                margin-top: .625em;
                font-family: Raleway;
                font-size: 1.875rem;
                font-weight: 400;
                text-align: left;
                margin-left: .5375em;

            }

            p{
                margin-top: .625em;
                font-family: 'Open Sans';
                font-size: .875rem;
                font-weight: 400;
                text-align: left;
                margin-left: .9375em;
                padding-bottom: .9375em;
            }
            hr{
                display: none;
            }
        }
    }

    &__brand{
        &__text{
            background-color: white;
            width: 80%;
            margin: 0 auto;
            margin-top:1.875em;
            display: block;
            h3{
                font-family: Raleway;
                font-size: 1.875rem;
                font-weight: 400;
                text-align: left;
                margin-left: .5375em;
                padding-top: .9375em;


            }

            p{
                margin-top:1.5625em;
                font-family: 'Open Sans';
                font-size: .875rem;
                font-weight: 400;
                text-align: left;
                margin-left: .9375em;
                padding-bottom: .625em;
            }

            hr{
                display:none;
            }
        }


        &__trump{
            background-color: #55DFB4;
            width: 314px;
            height: 195px;
            width: 80%;
            margin:0 auto;
            border-radius: .3125em;

            &__trumpet{
                padding-top: 1.25rem;
                padding-right: 3.125em;
                width: 350px;
                height: 250px;
            }
        }
    }
}

@media (min-width:62.5rem){
    .mid{
        &__first{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            &__img{
                margin-top: 2em;
                align-items: center;
                order:2;
                transform: translate();
                &__circle{
                    display: none;
                }
                &__laptop{
                    display: none;
                }
                &__laptop2{
                    position: relative;
                    display: flex;
                    // transform: translate(20%, 28%);
                }
                &__rectangle{
                    display: flex;
                    position: absolute;
                    transform: translate(90%, -22%);
                }
            }

            &__text{
                width: 45%;
                h3{
                    order:1;
                    padding-top: 2.425em;
                    margin-left: 10px;
                }
                p{
                    order:1;
                    width: 75%;
                }
                hr{
                    margin-top: .9375em;
                    width: 58%;
                    display: flex;
                    margin-left: .625em;
                    margin-bottom:5em ;
                    border: 2px solid red;
                }
            }
        }

        &__shop{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
            &__img{
                display: flex;
                align-items: center;
                justify-content: start;
                width:45%;
                &__circleblue{
                    display: none;
                }
                &__phone{
                    display: none;
                }
                &__circleblue2{
                    display: flex;
                    position:absolute;
                }
                &__phone2{
                    display: flex;
                    position:relative;
                    padding-bottom: 1.25em;
                    transform: translate(0%,5%);
                }
            }
            &__text{
                width:43%;
            
                h3{
                    text-align: left;
                    width: 50%;
                }
                p{
                    width: 80%;
                    margin-top: 1.25em;
                }
                hr{
                    display:flex;
                    width: 60%;
                    margin-left: .625em;
                    margin-top: 1em;
                    border: 2px solid #08A6E4;
                }
            }
        }

        &__brand{
            margin: 0 2.6875em;
            display: flex;
            flex-flow: row wrap;
            &__text{
                width:40%;
                h3{
                    margin-top: 1.25em;
                    width: 60%;
                }
                p{
                    width:70%;
                    margin-bottom: 1.25em;
                }
                hr{
                    display: flex;
                    margin-bottom: 3.4375em;
                    border: 2px solid #55DFB4;
                    margin-left: .9375em;
                    width: 55%;
                }
            }
            &__trump{
                height: auto;
                margin-top:1.875em;
                width:30%;
                &__trumpet{
                    width: 80%;
                    transform: translate(10%,5%);
                    margin-top: 1.25em;
                }
            }

        }
    }
}