.pricing{
    &--buttonstyle{
        padding: 10px 30px;
        border-radius: 1.4375rem;
        background-color: #F99F00;
        border: 0rem;
    

        font-family: 'Open Sans';
        font-size: .7125em;
        font-weight: 700;
        text-align: left;
        color: white;
        text-align: center;
    }

    &--buttonstyle:hover{
        transform: scale(105%);
        box-shadow: 0 .25rem .255rem #F99F00;
    }

    &__tittle{
        margin-top: 1.3em;
        font-family: 'Raleway';
        font-size: 2.25rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 1em;
    }

    &__button{
        text-align: center;
        margin-bottom: 2em;

        &__money{
            @extend .pricing--buttonstyle;
        }

    }

    &__basic{
        margin-top: .9375em;
        padding-bottom: 2.5em;
        width: 80%;
        margin:0 auto;
        border-radius: .9375em;
        border: 1px solid #FB3B64;
        position: relative;

        &__precio{
            display: inline-block;
            width: 45%;
            h3{   
                transform: translate(40%, -85%);
                font-family: Raleway;
                font-size: 1.25rem;
                font-weight: 700;
            }

            p{
                transform: translate(40%, -30%);
                font-family: 'Open Sans';
                font-size: 2.875rem;
                font-weight: 300;
                color: #FB3B64;

            }
        }

        &__check{
            text-align: center;
            width: 45%;
            margin-left: .9375em;
            display: inline-block;
            li{
                text-align: left;
                transform: translate(0%, 80%);
                line-height: 2.5rem;
                list-style: none;
                font-family: 'Open Sans';
                font-size: .875em;
                font-weight: 400;
            }

            img{
                margin-right: .3125em;
            }
        }
        
        &__buttom{
            transform: translate(45%, 130%);
            padding: 15px 60px;
            border-radius: 1.4375rem;
            background-color: #EB476E;
            border: 0rem;
        

            font-family: 'Open Sans';
            font-size: .8125em;
            font-weight: 700;
            text-align: left;
            color: white;
            text-align: center;

        }

    }


    &__pro{
        padding-bottom: 2.5em;
        width: 80%;
        margin: 60px auto;
        border-radius: .9375rem;
        border: 1px solid #07ACE6;
        position: relative;

        &__precio{
            display: inline-block;
            width: 45%;
            h3{
                transform: translate(15%, -20%);
                font-family: Raleway;
                font-size: 1.1875em;
                font-weight: 700;

            }

            &__dollar{
                transform: translate(25%, 0%);
                font-family: 'Open Sans';
                font-size: 2.875em;
                font-weight: 300;
                color: #07ACE6;
            }

            &__offer{
                font-family: Raleway;
                font-size: .75em;
                font-weight: 700;
                color: #13253B;
                transform: translate(27%, 5%);

            }
        }

        &__check{
            margin-left: .9375em;
            width: 45%;
            display: inline-block;
            li{
                transform: translate(0%, 80%);
                line-height: 2.5rem;
                list-style: none;
                font-family: 'Open Sans';
                font-size: .875em;
                font-weight: 400;

            }

            img{
                margin-right: .3125rem;
            }
        }

        &__buttom{
            transform: translate(45%, 130%);
            padding: 15px 60px;
            border-radius: 1.4375rem;
            background-color: #07ACE6;
            border: 0px;
        

            font-family: 'Open Sans';
            font-size: .8125em;
            font-weight: 700;
            line-height: 1.1062rem;
            text-align: left;
            color: white;
            text-align: center;

        }

    }


    &__premium{
        padding-bottom: 2.5em;
        width: 80%;
        margin:60px auto;
        border-radius: .9375em;
        border: 1px solid #55DFB4;
        position: relative;

        &__precio{
            display: inline-block;
            width: 45%;
            position: relative;

            h3{
                transform: translate(25%, -5%);
                font-family: Raleway;
                font-size: 1.1875em;
                font-weight: 700;
                line-height: 1.5rem;

            }

            &__dollar{
                transform: translate(25%, 0%);
                font-family: 'Open Sans';
                font-size: 2.875em;
                font-weight: 300;
                line-height: 4rem;
                color: #55DFB4;
            }

            &__offer{
                font-family: Raleway;
                font-size: .75em;
                font-weight: 700;
                line-height: .8806rem;
                color: #13253B;
                transform: translate(27%, 5%);
            }
        }

        &__check{
            margin-left: .9375em;
            width: 45%;
            display: inline-block;
            li{
                transform: translate(0%, 80%);
                line-height: 2.5rem;
                list-style: none;
                font-family: 'Open Sans';
                font-size: .875em;
                font-weight: 400;

            }
            img{
                margin-right: .3125em;
            }
        }
        &__buttom{
            transform: translate(45%, 130%);
            padding: 15px 60px;
            border-radius: 1.4375rem;
            background-color: #55DFB4;
            border: 0rem;
        

            font-family: 'Open Sans';
            font-size: .8125em;
            font-weight: 700;
            line-height: 1.1062rem;
            text-align: left;
            color: white;
            text-align: center;

        }

    }
    &__premium:hover{
        transform: scale(110%);
        box-shadow: 0 .25rem .375rem #55DFB4;
    }
    
    &__pro:hover{
        transform: scale(110%);
        box-shadow: 0 .25rem .375rem #07ACE6;
    }

    &__basic:hover{
        transform: scale(110%);
        box-shadow: 0 .25rem .375rem #FB3B64;
    }
}
        
@media (min-width:1000px){
    .pricing{
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        &__tittle{
            width: 100%;
            margin-top: 5rem;
            margin-bottom: 2.5rem;
        }

        &--stilo{
            margin-top:1.25rem;
            display: flex;
            flex-flow: column nowrap;
            margin-left: 0;
            width: 25%;
        }

        &--h3{
            margin-top: 1.875rem;
            transform: translate(0%,0%);
            text-align: center;    
        }

        &--buttonstylelaptop{
            padding: 20px 70px;
            border-radius: 1.4375rem;
            background-color: #07ACE6;
            border: 0rem;
        

            font-family: 'Open Sans';
            font-size: 1em;
            font-weight: 700;
            color: white;
            text-align: center;
        }

        &--buttonstylelaptop:hover{
            transform: scale(110%);
            box-shadow: 0 .15rem .255rem #07ACE6;
        }
        

        &__button{
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            &__money{
                @extend .pricing--buttonstylelaptop;            
        }


        &__basic{
            margin: 1.25rem auto 3.9rem auto;
            @extend .pricing--stilo;
            //margin-left: auto;


            &__precio{
                margin: 0 auto;
                h3{
                    @extend .pricing--h3;   
                }
                p{
                    margin-top: 1.5625rem;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: 3.125rem;
                }
            }

            &__check{
                margin: 0 auto;
                li{
                    text-align: center;
                    transform: translate(0%,0%);
                }
            }

            &__buttom{
                transform: translate(60%,140%);
                padding: 1.0625rem 2.5rem;
                width: 45%;
                text-align: center;
            }
        }

        &__pro{
            @extend .pricing--stilo;
            &__precio{
                margin: 0 auto;
                h3{
                    @extend .pricing--h3;
                }
                &__dollar{
                    margin-top: .9375rem;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: .3125rem;
                }

                &__offer{
                    margin-top: 0rem;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: 3.125rem;
              }
            }   

            &__check{
                margin: 0 auto;
                text-align: center;
                li{
                    transform: translate(0%,0%);
                }
            }

            &__buttom{
                transform: translate(65%,130%);
                padding: 1.0625rem 2.5rem;
                width: 45%;
                text-align: center;
            }
        }

        &__premium{
            @extend .pricing--stilo;
            &__precio{
                margin: 0 auto;
                h3{
                    @extend .pricing--h3;    
                }
                &__dollar{
                    margin-top: .9375rem;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: .3125rem;
                }

                &__offer{
                    margin-top: 0rem;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: 3.125rem;
              }
            }
            &__check{
                margin: 0 auto;
                text-align: center;
                li{
                    transform: translate(0%,0%);
                }
            }

            &__buttom{
                transform: translate(65%,120%);
                padding: 1.0625rem 2.5rem;
                width: 45%;
                text-align: center;
            }

        }

        
    }
}}