.pricing{
    &__tittle{
        margin-top:14%;
        font-family: 'Raleway';
        font-size: 36px;
        font-weight: 400;
        line-height: 42.26px;
        text-align: center;
    }
    &__basic{
        margin-top: 15px;
        padding-bottom: 2.5rem;
        width: 80%;
        margin-left: 10%;
        width: 293px;
        height: 275px;  
        border-radius: 15px;
        border: 1px solid #FB3B64;
        position: relative;

        &__precio{
            display: inline-block;
            width: 45%;
            h3{   
                transform: translate(40%, -85%);
                font-family: Raleway;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;

            }

            p{
                transform: translate(40%, -30%);
                font-family: 'Open Sans';
                font-size: 46px;
                font-weight: 300;
                line-height: 64px;
                color: #FB3B64;

            }
        }

        &__check{
            text-align: center;
            width: 45%;
            display: inline-block;
            li{
                transform: translate(0%, 80%);
                line-height: 40px;
                list-style: none;
            }

            img{
                margin-right: 5px;
            }
        }
        
        &__buttom{
            transform: translate(50%, 100%);
            padding: 5% 20%;
            border-radius: 23px;
            background-color: #EB476E;
            border: 0px;
        

            font-family: 'Open Sans';
            font-size: 13px;
            font-weight: 700;
            line-height: 17.7px;
            text-align: left;
            color: white;
            text-align: center;

        }

    }


    &__pro{
        margin-top: 60px;
        padding-bottom: 2.5rem;
        width: 80%;
        margin-left: 10%;
        width: 293px;
        height: 275px;  
        border-radius: 15px;
        border: 1px solid #07ACE6;
        position: relative;

        &__precio{
            display: inline-block;
            width: 45%;
            h3{
                transform: translate(15%, -20%);
                font-family: Raleway;
                font-size: 19px;
                font-weight: 700;
                line-height: 24px;

            }

            &__dollar{
                transform: translate(25%, 0%);
                font-family: 'Open Sans';
                font-size: 46px;
                font-weight: 300;
                line-height: 64px;
                color: #07ACE6;
            }

            &__offer{
                font-family: Raleway;
                font-size: 12px;
                font-weight: 700;
                line-height: 14.09px;
                color: #13253B;
                transform: translate(27%, 5%);

            }
        }

        &__check{
            margin-left: 15px;
            width: 45%;
            display: inline-block;
            li{
                transform: translate(0%, 80%);
                line-height: 40px;
                list-style: none;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;

            }

            img{
                margin-right: 5px;
            }
        }

        &__buttom{
            transform: translate(50%, 100%);
            padding: 5% 20%;
            border-radius: 23px;
            background-color: #07ACE6;
            border: 0px;
        

            font-family: 'Open Sans';
            font-size: 13px;
            font-weight: 700;
            line-height: 17.7px;
            text-align: left;
            color: white;
            text-align: center;

        }

    }


    &__premium{
        margin-top: 60px;
        padding-bottom: 2.5rem;
        width: 80%;
        margin-left: 10%;
        width: 293px;
        height: 275px;  
        border-radius: 15px;
        border: 1px solid #55DFB4;
        position: relative;

        &__precio{
            display: inline-block;
            width: 45%;
            position: relative;

            h3{
                transform: translate(25%, -5%);
                font-family: Raleway;
                font-size: 19px;
                font-weight: 700;
                line-height: 24px;

            }

            &__dollar{
                transform: translate(25%, 0%);
                font-family: 'Open Sans';
                font-size: 46px;
                font-weight: 300;
                line-height: 64px;
                color: #55DFB4;
            }

            &__offer{
                font-family: Raleway;
                font-size: 12px;
                font-weight: 700;
                line-height: 14.09px;
                color: #13253B;
                transform: translate(27%, 5%);
            }
        }

        &__check{
            margin-left: 15px;
            width: 45%;
            display: inline-block;
            li{
                transform: translate(0%, 80%);
                line-height: 40px;
                list-style: none;
                font-family: 'Open Sans';
                font-size: 14px;
                font-weight: 400;

            }
            img{
                margin-right: 5px;
            }
        }
        &__buttom{
            transform: translate(50%, 100%);
            padding: 5% 20%;
            border-radius: 23px;
            background-color: #55DFB4;
            border: 0px;
        

            font-family: 'Open Sans';
            font-size: 13px;
            font-weight: 700;
            line-height: 17.7px;
            text-align: left;
            color: white;
            text-align: center;

        }

    }
    &__premium:hover{
        transform: scale(110%);
        box-shadow: 0 4px 6px #55DFB4;
    }
    
    &__pro:hover{
        transform: scale(110%);
        box-shadow: 0 4px 6px #07ACE6;
    }

    &__basic:hover{
        transform: scale(110%);
        box-shadow: 0 4px 6px #FB3B64;
    }
}
        //Pa el hover
        //box-shadow: #07ACE6;
        //transform: scale();

@media (min-width:1000px){
    .pricing{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        &__tittle{
            width: 100%;
            margin-top: 80px;
            margin-bottom: 40px;
        }

        &__basic{
            margin-top:20px;
            display: flex;
            flex-flow: column nowrap;
            margin-left: 0%;
            height: 485px; 
            width: 372px;
            &__precio{
                width: 100%;
                h3{
                    margin-top: 20px;
                    transform: translate(0%,0%);
                    text-align: center;    
                }
                p{
                    margin-top: 15px;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: 50px;
                }
            }

            &__check{
                width: 100%;

                li{
                    transform: translate(0%,0%);
                }
            }

            &__buttom{
                transform: translate(60%,150%);
                padding: 5%;
                width: 45%;
                text-align: center;
            }
        }

        &__pro{
            margin-top:20px;
            margin-left: 0%;
            height: 485px; 
            width: 372px;
            display: flex;
            flex-flow: column nowrap;
            &__precio{
                width: 100%;
                h3{
                    margin-top: 20px;
                    transform: translate(0%,0%);
                    text-align: center;    
                }
                &__dollar{
                    margin-top: 15px;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: 5px;
                }

                &__offer{
                    margin-top: 0px;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: 50px;
              }
            }   

            &__check{
                width: 100%;
                text-align: center;
                margin-left: 0px;
                li{
                    transform: translate(0%,0%);
                }
            }

            &__buttom{
                transform: translate(65%,120%);
                padding: 5%;
                width: 45%;
                text-align: center;
            }
        }

        &__premium{
            margin-left: 0%;
            margin-top:20px;
            height: 485px; 
            width: 372px;
            display: flex;
            flex-flow: column nowrap;
            &__precio{
                width: 100%;
                h3{
                    margin-top: 20px;
                    transform: translate(0%,0%);
                    text-align: center;    
                }
                &__dollar{
                    margin-top: 15px;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: 5px;
                }

                &__offer{
                    margin-top: 0px;
                    transform: translate(0%,0%);
                    text-align: center;    
                    margin-bottom: 50px;
              }
            }
            &__check{
                width: 100%;
                text-align: center;
                margin-left: 0px;
                li{
                    transform: translate(0%,0%);
                }
            }

            &__buttom{
                transform: translate(65%,120%);
                padding: 5%;
                width: 45%;
                text-align: center;
            }

        }

        
    }
}