.question{
    margin-top: 3em;
    margin-left: 1em;
    &__left{
        h2{
            font-family: Raleway;
            font-size: 2.5em;
            font-weight: 400;
        }
        
        &__call{
            font-family: 'Open Sans';
            font-size: 1em;
            font-weight: 400;   
            text-align: left;
        }

        &__mail{
            display: inline-block;
            margin-bottom: 10px;
            p{
                display: inline-block;
                font-family: 'Open Sans';
                font-size: 1em;
                font-weight: 600;
                text-align: left;
                color:#A5A5A5;
                transform: translate(0%, -30%);   
            }

            img{
                display: inline-block;
                margin-top: 10%;
            }
        }

        &__phone{
            
            p{
                display: inline-block;
                font-family: 'Open Sans';
                font-size: 1em;
                font-weight: 600;
                text-align: left;
                color:#A5A5A5;
                transform: translate(0%, -30%);
            }
            img{
                display: inline-block;
            }
        }

    }

    &__form{
        margin-top: 2.5rem;
        &__ne{
            font-family: 'Open Sans';
            font-size: .6875em;
            font-weight: 600;
            text-align: left;
            color: #08A6E4;
            padding-bottom: .9375em;
        }

        &__input{
            border:none;
            border-bottom: 2px solid #95989A;
            width: 90%;
            margin-bottom: 1.875em;
        }
        
        &__checkbox{
            display: inline;
            position: relative;
            &__check{
                width: 1.5rem;
                height: 1.5rem;
                display: inline-block;
                width: 10%;
                vertical-align: top;
                border-bottom: .5008px solid #95989A;
                accent-color: white;
                
            }
            .question__form__checkbox__check:checked{
                background-image: url(./form/check.png);
                border: none;
            }

            &__check:disabled{
                background-color: white;
            }

            &__text{
                display: inline-block;
                width: 75%;
                font-family: 'Open Sans';
                font-size: .75em;
                font-weight: 400;
                text-align: left;
                color: #707070;

            }
        }

        &__button{
            transform: translate(60%, 0%);
            margin-top: 1.25em;
            padding: 17px 80px;
            border-radius: 2.5rem;
            background-color: #08A6E4;
            border: none;
            font-family: 'Open Sans';
            font-size: .8125em;
            font-weight: 700;
            color: white;
            box-shadow: 5px 10px 14px 0px #07ACE64A;
        }
    }
}


@media (min-width:1000px){
    .question{
        margin-top: 10em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        &__left{ 
            width: 30%;
            display: flex;
            flex-flow: column nowrap;
            h2{
                font-family: Raleway;
                font-size: 3.0625rem;
                font-weight: 400;
                text-align: left;
            }
            &__call{
                margin-top: 1.25em;
            }
            
        }

        &__form{
            margin-top: 0rem;
            width: 38%;
            &__checkbox{
                margin-left: 0;
                &__text{
                    width: 70%;
                }
            }

            &__button{
                transform: translate(100%, 0%);
                padding: 1.25em 1.875em;
                width: 40%;
            }
        }   
    }   
}   