.sell{
    margin-top: 5em;
    margin-left: 2.0625em;
    margin-right: 2.0625em;
    h2{
        padding-top: 1em;
        margin-bottom: 1.25em;
        font-family: Raleway;
        font-size: 2.1875rem;
        font-weight: 400;
        text-align: center;
        color: black;
    }

    p{
        margin-left: .0975em;
        margin-bottom: 1.875em;
        font-family: 'Open Sans';
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        color: black;
        
    }

    button{
        padding: 0px 90px;
        border-radius: 2.5em;
        background: #08A6E4;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        border:none;
        p{
            margin-top: 1.25em;
            font-family: 'Open Sans';
            font-size: .9rem;
            font-weight: 700;
            text-align: center;
            color: white;
        }
    }
}
.setup{
    margin-top: 1.45em;
    overflow: hidden;
    &__movil{
        margin: 0 0 35px 0;
        width: 375px;
        height: 267px;
        object-fit: cover;
    }
    &__laptop{
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .sell{
        margin-left:0 auto;
        h2{
            text-align: center;
            font-family: Raleway;
            font-size: 3.0625em;
            font-weight: 400;
            margin-bottom: .7em;
        }

        p{
            font-family: 'Open Sans';
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
        }
        &__boton{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 100%;
            button{
                padding: 0 150px;
                margin-left:0 auto;
            }
        }
    }
        .setup{
            &__movil{
                display: none;
            }
            &__laptop{
                display: flex;
                margin: 0 0 2.1875rem 0;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
