.sell{
    margin-top: 80px;
    margin-left: 2.0625rem;
    margin-right: 2.0625rem;


    h2{

        margin-bottom: 20px;

        font-family: Raleway;
        font-size: 2.1875rem;
        font-weight: 400;
        line-height: 2.5681rem;
        text-align: center;
        color: black;
    }

    p{
        margin-left: .0975rem;
        margin-bottom: 30px;
        font-family: 'Open Sans';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4375rem;
        text-align: center;
        color: black;
        
    }

    button{
        padding: 0px 90px;
        border-radius: 2.5rem;
        background: #08A6E4;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        border:none;
        margin-bottom: 20px;
        p{
            margin-top: 20px;
            font-family: 'Open Sans';
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.375rem;
            text-align: center;
            color: white;
        }
    }
}
.setup{
    margin-top: 20px;
    overflow: hidden;
    img{
        margin: 0 0 35px 0;
        width: 375px;
        height: 267px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1000px) {
    .sell{
        margin-left:0 auto;
        h2{
            text-align: center;
            font-family: Raleway;
            font-size: 49px;
            font-weight: 400;
            line-height: 57px;
        }

        p{
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
        }
        &__boton{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            button{
                margin-left:0 auto;
            }
        }
    }
        .setup{
            img{
                margin: 0 0 35px 0;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
