.header{      
    box-shadow: 0 7px 6px rgba(0, 0, 0, 0.1);  
    h1 {
        display: inline-block ;
        font-family: Raleway;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.3125rem;
        text-align: left;
        color: #08A6E4;
        margin-top: 1.0625rem;
        margin-left: 1.5625rem;
        padding-bottom: 10px;
    }

    img{
        padding-left: 90px;
        display: inline;
        text-align: right;
    }
}

