.question{
    margin-top: 20%;
    margin-left: 5%;
    h2{
        font-family: Raleway;
        font-size: 40px;
        font-weight: 400;
        line-height: 46.96px;
    }
    
    &__call{
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }

    &__mail{
        p{
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            color:#A5A5A5;
            transform: translate(10%, -130%);
        }

        img{
            margin-top: 10%;
        }
    }

    &__phone{
        p{
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            color:#A5A5A5;
            transform: translate(10%, -130%);
        }
    }

    &__link{ 
        position:relative;
        a{
            transform: translate(10%, 10%);   
        }
        &__edin{
            position:absolute;
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            color:#A5A5A5;
            text-decoration: none;
        }
        


        &__edin:visited{
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            color:#A5A5A5;
            text-decoration: none;
        }

        &__edin:active{ 
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            color:#A5A5A5;
            text-decoration: none;
        }
    }

    &__form{
        margin-top: 40px;
        &__ne{
            font-family: 'Open Sans';
            font-size: 11px;
            font-weight: 600;
            line-height: 14.98px;
            letter-spacing: .2rem;
            text-align: left;
            color: #08A6E4;
            padding-bottom: 15px;
        }

        &__input{
            border:none;
            border-bottom: 2px solid #95989A;
            width: 90%;
            margin-bottom: 30px;
        }
        
        &__checkbox{
            display: inline;
            position: relative;
            &__check{
                width: 24px;
                height: 24px;
                display: inline-block;
                width: 10%;
                vertical-align: top;
                border-bottom: 0.5px solid #95989A;
                accent-color: white;
                
            }
            .question__form__checkbox__check:checked{
                background-image: url(./form/check.png);
                border: none;
            }

            &__check:disabled{
                background-color: white;
            }

            &__text{
                display: inline-block;
                width: 75%;
                font-family: 'Open Sans';
                font-size: 12px;
                font-weight: 400;
                line-height: 16.34px;
                text-align: left;
                color: #707070;

            }
        }

        &__button{
            transform: translate(40%, 0%);
            margin-top: 20px;
            padding: 5% 25%;
            border-radius: 40px;
            background-color: #08A6E4;
            border: none;
            font-family: 'Open Sans';
            font-size: 13px;
            font-weight: 700;
            line-height: 17.7px;
            color: white;
            box-shadow: 5px 10px 14px 0px #07ACE64A;
        }
    }

}